# Project structure
# 1) index.html               ---> main  HTML file with the objects and references to scripts and styles
# 2) css/visualPrivKey.css    ---> Styles sheet
# 3) js/visualPrivKeyMain.js  ---> Main script with canvas calculations and object functions
# 4) js/bitcoinJS-lib.js      ---> BitcoinJS-lib v0.1.3-default (ECDSA formulas)
# 5) js/QRcode.js             ---> QR Code Generator for JavaScript
